
@keyframes trocarCor {
    0% { color: rgb(139, 53, 53); }
    25% { color: rgb(54, 54, 136); }
    50% { color: rgb(35, 99, 35); } 
    75% { color: rgb(139, 110, 54); } 
    100% { color: rgb(105, 44, 105); } 
}


#colorido {
    animation: trocarCor 5s infinite; 
}

#proxLancamentos{
    display: flex;
    padding: 30px;
    gap: 30px;
}

.frame {
    
    justify-content: center;
    width: 400px;
    border: 4px solid rgb(168, 195, 207); 
    padding: 10px; 
    display: inline-block; 
}

img.prox{
    width: 20px;
}

.frame img {
    display: block; 
    width: 100%; 
    height: auto; }


#lancamento{
    color: rgb(105, 36, 33);
}

h6{
    color: rgb(255, 255, 255);
}


#tabelaHorarios{
    align-items: center;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #5a7796;
    color: white;
}

tr:nth-child(even) {
    background-color: #000000;
}

#rodape{
    margin-top: 40px;
    background-color: #000711;
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.footerInfo i {
    font-size: 24px;
}

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }
}






